body {
    background-color:grey;
    font-family: Arial , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}
#display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
color: white;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
button {
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: beige;
}
button:hover {
    opacity: 0.4;
}
.zero {
    grid-column: span 2;
}
.equal {
    background-color:rgb(244, 244, 82);
    color: white
}